@font-face {
  font-family: "Norse Bold";
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Norse Bold";
  background-color: whitesmoke;
  display: flex;
  margin: 0;
  gap: 50px;
}
.left-side-container {
  position: relative;
}

.grass {
  display: block;
}

.black-transparent-background {
  display: block;
  position: absolute;
  padding: 100px;
  padding-left: 587px;
  background-color: black;
  opacity: 0.6;
  top: 150px;
}
.kirby {
  position: absolute;
  top: 160px;
  margin-left: 105px;
  opacity: 0.8;
}
.credits {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.kirby-logo {
  position: absolute;
  width: 40%;
  top: 190px;
  margin-left: 265px;
}

a,
a:visited {
  color: inherit;
}

.textone {
  width: 800px;
}
.texttwo {
  width: 800px;
}

.text-container {
  display: block;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: bolder;
  gap: 30px;
}

.form-without-button {
  box-sizing: content-box;
  position: relative;
  box-sizing: border-box;
  background-color: white;
  background-size: 100%;
  padding-top: 10px;
  padding-left: 50px;
  padding-bottom: 30px;
  margin-left: -50px;
  margin-bottom: 20px;
}

.letsdothis {
  font-size: 22px;
  margin-bottom: 10px;
}


button {
  margin-bottom: 30px;
}
