@font-face {
  font-family: "Kaushan Script";
  src: url("/fonts/KaushanScript-Regular.woff2") format("woff2"),
    url("/fonts/KaushanScript-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Kaushan Script";
  background-color: whitesmoke;
  display: flex;
  gap: 20px;
  margin: 0;
}
.right-side-container {
  position: relative;
}

.grass {
  display: block;
}

.black-transparent-background {
  display: block;
  position: absolute;
  padding: 100px;
  padding-left: 587px;
  background-color: black;
  opacity: 0.6;
  top: 150px;
}
.kirby {
  position: absolute;
  top: 160px;
  margin-left: 105px;
  opacity: 0.8;
}
.credits {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.kirby-logo {
  position: absolute;
  width: 40%;
  top: 190px;
  margin-left: 265px;
}

a,
a:visited {
  color: inherit;
}

form {
  background-color: white;
  border-image: linear-gradient(to bottom, grey, white);
}
